* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-yellow: #EA9F05;
    --color-dark : #1C1C1C;
    --color-white:  #ffffff;
    --color-grey-nav:  #9b9b9b;
    --color-grey-article: #2C2C2C;
    --color-light-grey: #EFEFEF;
    --color-grey-promo-border:#727272;
    --color-footer: #373737;
}

body {
    background-color:var(--color-dark)
}

span {
    color: var(--color-yellow);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}


/* Header */

body>header {
    background-color: var(--color-white);
}

nav,
main {
    width: 70%;
    margin: auto;
    padding-top: 2rem;
}

nav,
.logo,
.navigation,
.navigation>div,
.navigation>div>a {
    display: flex;
}

.logo {
    flex-direction: column;
    justify-content: flex-end;
    border-left-width: 5px;
    padding-left: 1rem;
    border-left-style: solid;
    border-image: linear-gradient(to bottom, var(--color-white), var(--color-yellow)) 1 100%;
    width: 49%;
    padding-bottom: 1rem;
}

.logo img {
    width: 70%;
}

.logo p {
    font-size: 1.5rem;
}

.navigation img {
    width: 27%;
    padding: 5%;
}

.navigation {
    width: 40%;
}

.navigation {
    flex-direction: column;
    justify-content: space-between;
}

.navigation>div>a {
    align-items: center;
    padding: 0.5rem 2rem;
}

.navigation>div {
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-light-grey);
    border: 1px solid var(--color-grey-nav);
}

.navigation>p {
    margin-left: auto;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.navigation li {
    display: inline-block;
    border-right: 1px solid var(--color-grey-nav);
    padding: 1rem 1.5rem .5rem 1.5rem;
}

.navigation li:first-child {
    border-left: 1px solid var(--color-grey-nav);
}


/* Main */

main {
    padding: 0;
    margin: 1rem auto 0 auto;
    background-color: var(--color-white);
}


/* Articles */

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.article-item,
.article {
    position: relative;
}

.article-item {
    width: 35%;
    margin: 2rem 0 4rem 0;
}

.article {
    -webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.5);
}

figcaption {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.article-misc,
.article-info {
    display: flex;
    width: 100%;
}

.article-misc .button,
.article-info {
    width: 50%;
}

.article-misc .button {
    padding: .5rem 1rem .1rem 1rem;
}

.article-misc a {
    display: block;
    background-color: var(--color-grey-article);
    padding: .5rem;
    color: var(--color-white);
    text-align: center;
    margin: .5rem auto;
}

.article-info {
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem 1rem 0 1rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, var(--color-white) , var(--color-grey-article)) 100% 1;
}

.last-price {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: line-through;
}

.price {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-yellow);
}

.promo {
    position: absolute;
    top: .5rem;
    right: -1.5rem;
    background-color: var(--color-grey-article);
    color: var(--color-yellow);
    font-size: 1.5rem;
    font-weight: 600;
    padding: .7rem;
    border: 5px ridge var(--color-grey-promo-border) ;
    border-radius: 0px 10px 0px 0px;
}


/* Footer */

footer {
    background-color: var(--color-footer);
    padding: 2rem;
}

.services {
    display: flex;
    width: 50%;
    margin: auto;
}

.service {
    width: 50%;
    padding: .5rem;
    text-align: center;
    font-size: .7rem;
    color: var(--color-white);
}

.service img {
    width: 5rem;
}

.socials {
    border-top: 1px solid var(--color-grey-nav);
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem auto;
    padding-top: 1rem;
}

.socials img {
    width: 3rem;
}

.socials .facebook {
    width: 2rem;
}

footer p {
    text-align: center;
    color: var(--color-white);
}


/* NAVBAR */

.navbar {
    position: sticky;
    bottom: 2rem;
    display: flex;
    justify-content: center;
}

.divider {
    background-color: var(--color-grey-promo-border);
    width: 100%;
    height: 1rem;
}

.navbar-items {
    position: absolute;
    top: 100%;
    display: flex;
    width: fit-content;
    margin: auto;
    background-color: var(--color-white);
    justify-content: space-evenly;
    align-items: center;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border: 1px solid var(--color-light-grey);
}

.navbar-items a {
    padding: .3rem 1rem;
}

.separator {
    width: .5rem;
    height: .5rem;
    background-color: var(--color-light-grey);
}

@media screen and (max-width: 1200px) {
    nav,
    main {
        width: 80%;
    }
    .socials {
        width: 30%;
    }
}

@media screen and (max-width: 1030px) {
    nav,
    main {
        width: 90%;
    }
    .services {
        width: 80%;
    }
}

@media screen and (max-width: 911px) {
    nav {
        width: 100%;
    }
}

@media screen and (max-width: 820px) {
    .logo {
        width: 39%;
    }
    .logo p {
        font-size: 1rem;
    }
    .navigation {
        width: 60%;
    }
    figcaption {
        font-size: .7rem;
    }
    .article-misc {
        flex-direction: column;
    }
    .article-misc .button,
    .article-info {
        width: 100%;
    }
    .socials {
        width: 40%;
    }
}

@media screen and (max-width: 683px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        width: 50%;
        margin-bottom: 1rem;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-image: linear-gradient(to right, var(--color-white) , var(--color-yellow)) 100% 1;
    }
    .navigation {
        width: 100%;
        align-items: center;
    }
    .navigation>div {
        width: 80%;
    }
    .navigation>p {
        margin-left: 0;
    }
    figcaption {
        bottom: .5rem;
    }
}

@media screen and (max-width: 600px) {
    .services {
        flex-wrap: wrap;
    }
    .service {
        width: 50%;
    }
    nav {
        width: 100%;
    }
    .navigation {
        width: 100%;
    }
    .socials {
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    .article-item {
        width: 80%;
    }
}

@media screen and (max-width: 425px) {
    .navigation>div {
        flex-wrap: wrap;
        justify-content: center;
    }
    main {
        width: 100%;
    }
    .navbar {
        bottom: 4rem;
    }
    .navbar-items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar-items a {
        width: 40%;
        text-align: center;
    }
    .hidden {
        display: none;
    }
    footer {
        padding-top: 6rem;
    }
}

@media screen and (max-width: 410px) {
    .navigation li {
        font-size: .7rem;
    }
}